absl-py
albumentations
cycler==0.12.1
defusedxml
diffusers==0.27.2
dill==0.3.8
einops
filelock==3.13.3
huggingface-hub
idna
imageio
importlib_metadata==7.1.0
importlib_resources
lazy_loader==0.3
omegaconf==2.3.0
open-clip-torch
openai-clip
protobuf
scikit-image
scikit-learn
scipy
semantic-version
Send2Trash==1.8.3
sentencepiece
sentry-sdk==1.43.0
sympy
tifffile==2023.7.10
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torchmetrics
traitlets==5.9.0
trampoline==0.1.2
tzdata==2024.1
uri-template==1.3.0
voluptuous==0.14.2
wcwidth
